@charset "UTF-8";
body {
    font-family: 'Poppins', sans-serif;
    background-image:url("/resources/images/dashboard-bg-img.jpg");
   	background-size:cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 5px 30px;
    box-sizing: border-box;
}

.logout-link {
    text-decoration: none;
    background-color: #dc3545;
    color: white;
    padding: 2px 16px;
    border-radius: 6px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.logout-link:hover {
    background-color: #c82333;
}

.form-container {
    max-width: 800px; 
    width: 100%;      
    padding: 30px 40px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-container h1 {
    font-weight: 600;
    color: #333;
    margin-top: 0;
    margin-bottom: 20px;
}

.button-group {
	display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px;
}

.dashboard-btn {
    text-decoration: none;
    display: flex;
    flex-direction: column; 
    align-items: center;      
    justify-content: center; 
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #007bff;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s;
}

.dashboard-btn img {
    width: 40px; 
    height: 40px;
    margin-bottom: 8px;
}

.dashboard-btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}


@media (max-width: 700px) {
    .button-group {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px) {
    .button-group {
        grid-template-columns: 1fr;
    }
}